# Metrological classes

## Basics

In the following, it is assumed that your startup script contains the lines:

In [1]:
from mesomath.babn import BabN as bn
from mesomath.npvs import Blen as bl
from mesomath.npvs import Bsur as bs
from mesomath.npvs import Bvol as bv
from mesomath.npvs import Bcap as bc
from mesomath.npvs import Bwei as bw
from mesomath.npvs import BsyG as bG
from mesomath.npvs import BsyS as bS
from mesomath.npvs import Bbri as bb

so that we can access the classes `BabN, Blen, Bsur,`... using the shorter aliases `bn, bl, bs,` etc. If you are using `babcalc`, this has already been done for you automatically.

This is what the classes `bl`, `bs`, `bv`, `bc`, `bw`, `bG`, `bS` and `ba` represent:

    class  bl: Babylonian length system:
               danna <-30- UŠ <-60- ninda <-12- kuš3 <-30- šu-si

    class  bs: Babylonian surface system:
               GAN2 <-100- sar <-60- gin2 <-180- še

    class  bv: Babylonian volume system:
               GAN2 <-100- sar <-60- gin2 <-180- še

    class  bc: Babylonian capacity system:
               gur <-5- bariga <-6- ban2 <-10- sila3 <-60- gin2 <-180- še

    class  bw: Babylonian weight system:
               gu2 <-60- ma-na <-60- gin2 <-180- še

    class  bG: Babylonian counting System G:
               šar2-gal <-6- šar'u <-10- šar2 <-6- bur'u <-10- bur3 <-3- eše3 <-6- iku

    class  bS: Babylonian counting System S:
               šar2-gal <-6- šar'u <-10- šar2 <-6- geš'u <-10- geš <-6- u <-10- diš

    Class  bb: Babylonian brick counting system:
               GAN2 <-100- sar <-60- gin2 <-180- še

However, for ease of writing, the real or academic names of the units in these metrological systems have been simplified by removing capital letters, numbers, hyphens, and diacritics. Therefore, for inputting measurements, we will use the following unit names:

Class|Metrology|Units
-----|---------|-----
bl| Babylonian length system|  susi, kus, ninda, us, danna
bs| Babylonian surface system|  se, gin, sar, gan
bv| Babylonian volume system|  se, gin, sar, gan
bc| Babylonian capacity system|  se, gin, sila, ban, bariga, gur
bw| Babylonian weight system|  se, gin, mana, gu
bG| Babylonian System G|  iku, ese, bur, buru, sar, saru, sargal
bS| Babylonian System S|  dis, u, ges, gesu, sar, saru, sargal
bb| Babylonian brick counting system|  se gin sar gan

>Note that scribes wrote volumes as an equivalent surface area multiplied by a standard height of 1 kus; thus, they used the same metrology for surfaces and volumes. Here, however, two different classes will be used, so that one can multiply a surface area by a length to obtain a volume, but one cannot multiply a volume by a length to obtain a four-dimensional volume, which was probably beyond the scribes' understanding.

At any time, you can review the names of the units in each system and their factors through the following, e.g., for capacities:

In [2]:
bc.uname

['se', 'gin', 'sila', 'ban', 'bariga', 'gur']

In [3]:
bc.ufact

[180, 60, 10, 6, 5]

and the academic names:

In [4]:
 bc.aname

['še', 'gin2', 'sila3', 'ban2', 'bariga', 'gur']

or

In [5]:
print(*bc.scheme(bc))

gur <-5- bariga <-6- ban <-10- sila <-60- gin <-180- se

In [6]:
print(*bc.scheme(bc,1))

gur <-5- bariga <-6- ban2 <-10- sila3 <-60- gin2 <-180- še

In a similar way to what we saw for sexagesimal numbers with the `bn` class. We can introduce measurements in two different ways:

In [7]:
a = bl(11111)
print(f"{a = }\n")

b = bl('5 ninda 25 susi')
print(f"{b = }\n")

a = 30 ninda 10 kus 11 susi

b = 5 ninda 25 susi

In the first case, `a` is defined as a certain (integer) number of times the smallest unit ("susi" in the case of lengths). In the second case, we define the value for `b` textually. Note that we can only use integer values ​​in both cases. Both input methods are available for all classes.

>In fact, there is a **third** entry method that will be seen at the end of this section.

Once you have defined measurements, you can "explain" them:

In [8]:
a.explain()

This is a Babylonian length meassurement: 30 ninda 10 kus 11 susi
    Metrology:  danna <-30- us <-60- ninda <-12- kus <-30- susi
    Factor with unit 'susi':  1 30 360 21600 648000
Meassurement in terms of the smallest unit: 11111 (susi)
Sexagesimal floating value of the above: 3:5:11
Approximate SI value: 185.18333333333334 meters

In [9]:
b.explain()

This is a Babylonian length meassurement: 5 ninda 25 susi
    Metrology:  danna <-30- us <-60- ninda <-12- kus <-30- susi
    Factor with unit 'susi':  1 30 360 21600 648000
Meassurement in terms of the smallest unit: 1825 (susi)
Sexagesimal floating value of the above: 30:25
Approximate SI value: 30.416666666666668 meters


This will give us information about the nature of the measurement and the properties of the measurement system being used.

Note that the value given as "Sexagesimal floating value of the above:" is generated by the `.sex()` method; however, this method accepts a numeric parameter to indicate the unit relative to which this sexagesimal floating value is calculated. This parameter defaults to zero, indicating the first unit in the list provided by `.explain()`: `Unit names: ['susi', 'kus', 'ninda', 'us', 'danna']`

In [10]:
a.sex()   # susi as the base unit

3:5:11

In [11]:
a.sex(0)  # the same as .sex()

3:5:11

In [12]:
a.sex(1)  # kus as the base unit

6:10:22

In [13]:
a.sex(2)  # ninda as the base unit

30:51:50

In [14]:
a.sex(3)  # us as the base unit

30:51:50

In [15]:
a.sex(4)  # danna as the base unit

1:1:43:40

This will be useful if you intend to recreate **Metrological lists**. For example, the following code
will print an excerpt of the metrological table for length using ninda (x.sex(2)) as base unit:

In [16]:
ls =[]
for i in range(1,10):
    ls.append(str(i)+' susi')
for i in '10 15 20 25'.split():
    ls.append(i+' susi')
ls.append('1 kus')
for i in '10 15 20 25'.split():
    ls.append('1 kus '+i+' susi')
ls.append('2 kus')
for i in ls:
    x=bl(i)
    print(f'{str(x).ljust(15)} -> {str(x.sex(2)).rjust(6)}')

1 susi          ->     10
2 susi          ->     20
3 susi          ->     30
4 susi          ->     40
5 susi          ->     50
6 susi          ->      1
7 susi          ->   1:10
8 susi          ->   1:20
9 susi          ->   1:30
10 susi         ->   1:40
15 susi         ->   2:30
20 susi         ->   3:20
25 susi         ->   4:10
1 kus           ->      5
1 kus 10 susi   ->   6:40
1 kus 15 susi   ->   7:30
1 kus 20 susi   ->   8:20
1 kus 25 susi   ->   9:10
2 kus           ->     10

(See page 8 of [Floating calculation in Mesopotamia](https://hal.science/hal-01515645v2/document) by Christine Proust).


> The `metrotable.py` tool, which specializes in printing segments of metrological tables, is located in the `progs` subdirectory of this package. It also includes its own [tutorial](https://jccsvq.github.io/mesomath/progs/metrotable.html).
>
>The `mtlookup.py` tool in the `progs` subdirectory simulates direct and inverse searches in metrological tables. It also includes its own [tutorial](https://jccsvq.github.io/mesomath/progs/mtlookup.html).
>

Since version v1.1.0 you can get the metrological value of an object directly using the `.metval()` method:

In [17]:
bl('1 kus 15 susi').metval()

7:30

## Operations

For objects of the same class, the following operations are available:

* Addition
* Subtraction (returns the absolute value of the difference)
* Multiplication by a number
* Division by a number
* Logical operations

Let's look at some examples:

In [18]:
a >= b

True

In [19]:
a+b

35 ninda 11 kus 6 susi

In [20]:
a-b

25 ninda 9 kus 16 susi

In [21]:
b-a                   # a-b == b-a !!!

25 ninda 9 kus 16 susi

In [22]:
a-b == b-a

True

In [23]:
2*a

1 us 1 ninda 8 kus 22 susi

In [24]:
b*2

10 ninda 1 kus 20 susi

In [25]:
b*2.5

12 ninda 8 kus 2 susi

In [26]:
a/2

15 ninda 5 kus 6 susi

In [27]:
(a+2*b)/5

8 ninda 2 kus 12 susi

In [28]:
(a+2*b)/5.3

7 ninda 8 kus 25 susi

Additionally, for length measurements we can multiply them together to obtain surfaces and volumes, and for surfaces we can multiply them by lengths to obtain volumes:

In [29]:
s = a * b
print(f"{a = }, {b = }\n")
print(f"s = {a * b = }\n")

a = 30 ninda 10 kus 11 susi, b = 5 ninda 25 susi

s = a * b = 1 gan 56 sar 27 gin 138 se

In [30]:
s.explain()

This is a Babylonian surface meassurement: 1 gan 56 sar 27 gin 138 se
    Metrology:  gan <-100- sar <-60- gin <-180- se
    Factor with unit 'se':  1 180 10800 1080000
Meassurement in terms of the smallest unit: 1689798 (se)
Sexagesimal floating value of the above: 7:49:23:18
Approximate SI value: 5632.66 square meters

In [31]:
c = bl('2 kus')
print(f"{c = }\n")

v = s * c
print(f"v = {s * c = }\n")

c = 2 kus

v = s * c = 3 gan 12 sar 55 gin 96 se

In [32]:
 v.explain()

This is a Babylonian volume meassurement: 3 gan 12 sar 55 gin 96 se
    Metrology:  gan <-100- sar <-60- gin <-180- se
    Factor with unit 'se':  1 180 10800 1080000
Meassurement in terms of the smallest unit: 3379596 (se)
Sexagesimal floating value of the above: 15:38:46:36
Approximate SI value: 5632.66 cube meters

In [33]:
v2=a*b*c
print(f"v2 = {a * b * c = }\n")
v2 == v
print(f"{v2 == v = }\n")

v2 = a * b * c = 3 gan 12 sar 55 gin 96 se

v2 == v = True

## Systems S and G

n cases like this:

In [34]:
a = bv('128 gan')
print(f"{a = }\n")

a = 128 gan

we might prefer to see the coefficients of the units expressed in the **S system** ( or **G system** for surfaces and volumes), to do this:

In [35]:
bv.prtsex=True
print(f"{a = }\n")

a = (7 bur 2 iku) gan

This changes the default for objects of the `bv` class and makes the output more closely mimic the way the measurements were actually inscribed on the clay tablets, but it complicates things for the modern reader:

In [36]:
a = bv('128 gan 133 se')
print(f"{a = }\n")

a = (7 bur 2 iku) gan (2 ges 1 u 3 dis) se

If you want this to be the default for all metrological classes, use:

    from mesomath.npvs import MesoM
    MesoM.prtsex = True

The third input method cited above makes use of these types of strings; in fact, the parentheses have been introduced to make them easier to parse as input:

In [37]:
b = bv('460800 gan 44 sar 20 gin')
b

(7 sargal 6 sar 4 buru) gan (4 u 4 dis) sar (2 u) gin

In [38]:
c = bv('(7 sargal 6 sar 4 buru) gan (4 u 4 dis) sar (2 u) gin')
c

(7 sargal 6 sar 4 buru) gan (4 u 4 dis) sar (2 u) gin

In [39]:
bv.prtsex = False
c

460800 gan 44 sar 20 gin

In [40]:
bl.prtsex = True
b = bl(333333)
b

(1 u 5 dis) us (2 u 5 dis) ninda (1 u 1 dis) kus (3 dis) susi

In [41]:
c = bl('(1 u 5 dis) us (2 u 5 dis) ninda (1 u 1 dis) kus (3 dis) susi')
c
bl.prtsex = False


## Fractions

There is also basic support for entering *principal fractions*: `1/6, 1/3, 1/2, 2/3, 5/6` (and only for them), they can be entered in several ways:

In [42]:
a=bl('0+1/3 ninda')
a

4 kus

In [43]:
a=bl('+1/3 ninda')
a

4 kus

In [44]:
a=bl('1/3 ninda')
a

4 kus

In [45]:
a=bl('2 + 1/3 ninda')
a

2 ninda 4 kus

In [46]:
a=bl('2 1/3 ninda')
a

2 ninda 4 kus

In [47]:
a=bl('21/3 ninda')
a

2 ninda 4 kus

For output using `1/3, 1/2, 2/3, 5/6` fractions, you can use the `.prtf()` method:

In [48]:
a=bl(11223344)
a

17 danna 9 us 35 ninda 11 kus 14 susi

In [49]:
a.prtf()

'17 danna 9 1/2 us 5 5/6 ninda 1 1/3 kus 4 susi'

If you activate `prtsex` you get:

In [50]:
bl.prtsex=True
a.prtf()

'(1 u 7 dis) danna (9 dis) 1/2 us (5 dis) 5/6 ninda (1 dis) 1/3 kus (4 dis) susi'

In [51]:
a.prtf(1)

'(1 u 7 dis) 1/6 danna (4 dis) 1/2 us (5 dis) 5/6 ninda (1 dis) 1/3 kus (4 dis) susi'

These results can be used for input:

In [52]:
bl.prtsex=0
b=bl('(1 u 7 dis) 1/6 danna (4 dis) 1/2 us (5 dis) 5/6 ninda (1 dis) 1/3 kus (4 dis) susi')
b

17 danna 9 us 35 ninda 11 kus 14 susi

In [53]:
b.prtf()

'17 danna 9 1/2 us 5 5/6 ninda 1 1/3 kus 4 susi'

In [54]:
b.prtf(1)

'17 1/6 danna 4 1/2 us 5 5/6 ninda 1 1/3 kus 4 susi'

In [55]:
b.dec

11223344

In [56]:
c=bl(a.prtf(1))
c.dec

11223344

## Academic names

Since v1.1.0, the .prtf() method has a second switch that allows the academic unit names to be used in the output:

In [57]:
a=bl(11223344)
a.prtf()

'17 danna 9 1/2 us 5 5/6 ninda 1 1/3 kus 4 susi'

In [58]:
a.prtf(1)

'17 1/6 danna 4 1/2 us 5 5/6 ninda 1 1/3 kus 4 susi'

In [59]:
a.prtf(1,1)

'17 1/6 danna 4 1/2 UŠ 5 5/6 ninda 1 1/3 kuš3 4 šu-si'

In [60]:
bl.prtsex=True
a.prtf(0,1)

'(1 u 7 dis) danna (9 dis) 1/2 UŠ (5 dis) 5/6 ninda (1 dis) 1/3 kuš3 (4 dis) šu-si'

In [61]:
a.prtf(1,1)

'(1 u 7 dis) 1/6 danna (4 dis) 1/2 UŠ (5 dis) 5/6 ninda (1 dis) 1/3 kuš3 (4 dis) šu-si'

This kind of string can also be used as input:

In [62]:
b=bl('(1 u 7 dis) 1/6 danna (4 dis) 1/2 UŠ (5 dis) 5/6 ninda (1 dis) 1/3 kuš3 (4 dis) šu-si')
b.dec

11223344

equivalent to:

In [63]:
b=bl(a.prtf(1,1))
b.dec

11223344

## Volume vs. Capacity

There were two systems for measuring volume: **capacities**, used to measure grain, beer, and other types of food and goods, and **volume** proper, used to measure everything else. Here, they are represented by the metrological classes `Bcap` (imported here as `bc`) and `Bvol` (`bv`), respectively. Since they are two systems for measuring the same physical quantity, we can convert quantities from one system to the other with the methods `.cap()` and `.vol()`:

In [64]:
a = bv('1 gin')
a.explain()

This is a Babylonian volume meassurement: 1 gin
    Metrology:  gan <-100- sar <-60- gin <-180- se
    Factor with unit 'se':  1 180 10800 1080000
Meassurement in terms of the smallest unit: 180 (se)
Sexagesimal floating value of the above: 3
Approximate SI value: 0.3 cube meters

In [65]:
b = a.cap()
b.explain()

This is a Babylonian capacity meassurement: 1 gur
    Metrology:  gur <-5- bariga <-6- ban <-10- sila <-60- gin <-180- se
    Factor with unit 'se':  1 180 10800 108000 648000 3240000
Meassurement in terms of the smallest unit: 3240000 (se)
Sexagesimal floating value of the above: 15
Approximate SI value: 300.0 litres

In [66]:
(b.vol()).explain()

This is a Babylonian volume meassurement: 1 gin
    Metrology:  gan <-100- sar <-60- gin <-180- se
    Factor with unit 'se':  1 180 10800 1080000
Meassurement in terms of the smallest unit: 180 (se)
Sexagesimal floating value of the above: 3
Approximate SI value: 0.3 cube meters

## Bricks

Volume measurements were frequently transformed into their "brick" equivalents. These were measured in "*sar-b*" (units or packages of 720 bricks), and each brick type was characterized by its "*Nalbanum*," or the number of *sar-b* of that type that fits in 1 *sar* of volume. The `.sarb()` method allows us to perform this transformation:

In [67]:
a = bv('1 sar')
a

1 sar

In [68]:
b = a.bricks()
b

1 sar

In [69]:
b.explain()

This is a Babylonian brick count: 1 sar
    Metrology:  gan <-100- sar <-60- gin <-180- se
    Factor with unit 'se':  1 180 10800 1080000
Meassurement in terms of the smallest unit: 10800 (se)
Sexagesimal floating value of the above: 3
Approximate SI value: 720.0 bricks

This is for  *nalbanum* =1.0  type-12 bricks, for type-2 bricks with decimal *nalbanum* = 7.20:

In [70]:
b = a.bricks(7.20)
b

7 sar 12 gin

In [71]:
b.SI()

'5184.0 bricks'

If you have 10000 type-2 bricks, you can do:

In [72]:
c = bb(15 * 10000)
c

13 sar 53 gin 60 se

In [73]:
c.SI()

'10000.0 bricks'

`c` is a Bbri object:

In [74]:
c.explain()

This is a Babylonian brick count: 13 sar 53 gin 60 se
    Metrology:  gan <-100- sar <-60- gin <-180- se
    Factor with unit 'se':  1 180 10800 1080000
Meassurement in terms of the smallest unit: 150000 (se)
Sexagesimal floating value of the above: 41:40
Approximate SI value: 10000.0 bricks

that you can convert into a volume:

In [75]:
d = c.vol(7.20)
d.explain()

This is a Babylonian volume meassurement: 1 sar 55 gin 133 se
    Metrology:  gan <-100- sar <-60- gin <-180- se
    Factor with unit 'se':  1 180 10800 1080000
Meassurement in terms of the smallest unit: 20833 (se)
Sexagesimal floating value of the above: 5:47:13
Approximate SI value: 34.721666666666664 cube meters

Here is an excerpt from a table I found:
[here](https://personal.us.es/cmaza/mesopotamia/edificios.htm#Tipos%20de%20ladrillos) (Spanish only, sorry):

|Brick type|Nalb. (dec.) |Nalb. (sex.)|
|------|---------|-----|
|  1   |    9.00 |9|
|  1a  |     8.33| 8:20|
|  2   |     7.20 |7:12|
|3 |  5.40 | 5:24|
|4 |   5.00 |5|
|5 |  4.80 |4:48|
|7 |   3.33 |3:20|
|8 |  2.70 |2:42|
|9 |  2.25 |2:15|
|10|  1.875 |1:52:30|
|11|  1.20| 1:12|
|12|1.00 |1  |